
/*Change icons size here*/

.list-inline li{
	display: inline-block;
    padding-right: 5px;
    padding-left: 1px;
    margin-bottom: 10px;
}

.social-icons{
	font-size: 15px;
}



/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 
.social-icons .fa-adn{background-color:#3C599F;} 
.social-icons .fa-apple{background-color:#3C599F;} 
.social-icons .fa-android{background-color:#3C599F;}  
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#3C599F;} 
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#3C599F;} 
.social-icons .fa-css3{background-color:#3C599F;} 
.social-icons .fa-dribbble{background-color:#3C599F;}  
.social-icons .fa-dropbox{background-color:#3C599F;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#3C599F;}
.social-icons .fa-foursquare{background-color:#3C599F;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#3C599F;} 
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#3C599F;} 
.social-icons .fa-html5{background-color:#3C599F;}
.social-icons .fa-instagram{background-color:#3C599F;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#3C599F;} 
.social-icons .fa-linux{background-color:#3C599F;color:#333;}
.social-icons .fa-maxcdn{background-color:#3C599F;}
.social-icons .fa-pagelines{background-color:#3C599F;color:#3C599F;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#3C599F;} 
.social-icons .fa-renren{background-color:#3C599F;}
.social-icons .fa-skype{background-color:#3C599F;}
.social-icons .fa-stack-exchange{background-color:#3C599F;}
.social-icons .fa-stack-overflow{background-color:#3C599F;}
.social-icons .fa-trello{background-color:#3C599F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#3C599F;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#3C599F;} 
.social-icons .fa-vimeo-square{background-color:#3C599F;}
.social-icons .fa-vk{background-color:#3C599F;}
.social-icons .fa-weibo{background-color:#3C599F;}
.social-icons .fa-windows{background-color:#3C599F;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#3C599F;} 
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#3C599F;}